/* FONTS */

/* HEADER */
                                                                 
#header {
	background-image: url("../laravel.ru/images/background-header.png");
	/* background-repeat: repeat; */
	background-size: cover;
	border: 1px solid black;
	color:blue;
	height: 15vh;
	font-size: 25px;
	text-align: center;
}

.display_flex {
	display: flex;
	align-items: center;
    justify-content: center;
}

ul.menu {
	display:flex;
	justify-content: center;
    font-size: 25px;
	font-weight:500;
}

ul.menu li {
	float: left;
	list-style: none;
	
}

ul.menu li a {
	/* color: #48515b; */
	display: inline-block;
	margin: 15px;
	text-decoration: none;
}

ul.menu li:first-child a {
	margin-left: 20px;
}

ul.menu li:last-child a {
	margin-right: 20px;
}

#left-main {
	/* border: 1px solid black; */
	display: inline-block;
	min-height: 80vh;
	/* min-width: 80vw; */
	/* width: 100%; */
	margin: 5px;
}

/* LEFT */

#left {                                                        
	border: 5px ridge #0000ff;
	display:  inline-block;
	width: 15vw;
	min-height: 75vh;
	vertical-align: top;
}

.clock {
	font-size: 30px;
	color:blue;
	background-color: rgb(148, 234, 63);
	text-align: center;
	padding: 15px;
}

.clock span {
	display: block;
}

.count {
	font-size: 16px;
}

.count span {
	margin: 5px;
}

.goto-basket {
	border: 1px solid black;
	display: flex;
	position: relative;
	text-align: center;
	justify-content: center;
    width: 100%; /* для IE 6 */
}

.goto-basket span {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
	font-size: 50px;
	font-weight:800;
	color: crimson;
	/* background: rgba(0, 0, 0, 0.7); */
}

#main {
	/* border: 1px solid rgb(223, 194, 194); */
	display: inline-block;
	width: 80vw;
	min-height: 75vh;
	vertical-align: top;
}

.author_head {
	font-size: 40px;
	font-weight:800;
	text-align: center;
	color: #f13a3a;
}

.author {
	font-style: italic;
	font-size: 25px;
	margin-left: 10px;
	color: rgb(220, 20, 173);
}

.contact {
	font-size: 25px;
	text-align: center;
}

/* SLIDER */                                                                
                                                                            
#slider {                                                                   
	background-color: #b4d9e9;
	color: #3869a1;                                                     
	padding: 10px 0 14px;                                               
	position:relative;                                                  
	width: 83vw;
	height: 30vh;
}                                                                           
                                                                            
#slider h3 {                                                                
	font-size: 200%;
	text-align: center;                                                    
}                                                                           
                                                                            
#slider img {                                                               
	float: left;                                                        
	margin-top: 30px;                                                   
	width: 250px;                                                       
}                                                                           
                                                                            
#slider .more {                                                             
	float: right;                                                       
	margin-right: 20px; 
	margin-left: 20px;                                               
	margin-top: -30px;                                                  
}                                                                           
                                                                            
#slider .more a, #left .course_order .order a, #left .course_order .more a {
	background-color: #009ee3;                                          
	font-size: 150%;                                                     
	color: #fff;                                                        
	display: inline-block;                                              
	padding: 10px 20px;                                                 
	text-decoration: none;                                              
}                                                                           
                                                                            
#slider .more a:hover, #left .course_order .order a:hover {                 
	background-color: #39c3ff;                                          
}                                                                           
                                                                            
.slider_item p {                                                            
	margin: 15px 0 0;                                                   
}                                                                           
                                                                            
.slider_content {                                                           
	font-size: 150%;                                                     
	margin-left: 300px;                                                 
	margin-right: 10px;                                                
	padding-top: 25px;
}                                                                           
                                                                            
.slider_content p {                                                         
	font-style: italic;                                                 
	width: 55vw;                                                       
	-webkit-margin-before: 23px;                                        
}                                                                           
                                                                            
.slider_item {                                                              
	display: none;                                                      
}                                                                           
                                                                            
.slider_item:first-child {                                                  
	display: block;                                                     
}

#bullets {                                                       
	display: -webkit-box;                                    
	display: -ms-flexbox;                                    
	display: flex;                                           
	-webkit-box-pack: center;                                
	-ms-flex-pack: center;                                   
	justify-content: center;                                 
	-ms-flex-wrap: wrap;                                     
	flex-wrap: wrap;                                         
	margin: 0 15px;                                        
	text-align: center;                                      
	padding: 0 auto 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}                                                                
                                                                 
#bullets > div {                                                 
	background: url("../images/bullet.png") no-repeat;       
	cursor: pointer;                                         
	float: left;                                             
	height: 14px;                                            
	margin: 5px;                                             
	width: 14px;                                             
}                                                                
                                                                 
#bullets .active {                                               
	background: url("../images/bullet_active.png") no-repeat;
}

/* CHAT */


.chats h3 {
	font-size: 30px;
	font-weight:500;
	font-style: italic;
	color: #8800ff;
}

.chats p {
	color:crimson;
	font-size: 20px;
	font-weight:500;
	font-style: italic;
}

.chats_all_new {
	font-size: 14px;
}

.chats table {
	width: 100%;
}

.chats th {
	border: 1px solid grey;
	border-radius: 12px;
}

#modal_form_new_chat {
	display: none;
	position:fixed;
	width: 50%;
	height: 70%;
	top:25%;
	left:25%;
	z-index: 1;
	background-color:rgb(138, 157, 235);
	font-size: 30px;
	text-align: center;
	justify-content: center;
}

#modal_form_new_comment {
	display: none;
	position:fixed;
	width: 50%;
	height: 70%;
	top:25%;
	left:25%;
	z-index: 1;
	background-color:rgb(138, 157, 235);
	font-size: 30px;
	text-align: center;
	justify-content: center;
}

#modal_form_new_chat label {
	font-size: 20px;
}

.button_chat {
	display: inline-flex;
    margin: 10px;
    text-decoration: none;
    border: 2px solid #BFE2FF;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    padding: 12px 30px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase; 
    font-family: 'Roboto', Тahoma, sans-serif;
    background: #337AB7;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}

.switch-btn {
	display: inline-block;
	width: 72px; /* ширина */
	height: 38px; /* высота */
	border-radius: 19px; /* радиус скругления */
	background: #bfbfbf; /* цвет фона */
	z-index: 0;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
	position: relative;
	transition-duration: 300ms; /* анимация */
  }
  .switch-btn::after {
	content: "";
	height: 32px; /* высота кнопки */
	width: 32px; /* ширина кнопки */
	border-radius: 17px;
	background: #fff; /* цвет кнопки */
	top: 3px; /* положение кнопки по вертикали относительно основы */
	left: 3px; /* положение кнопки по горизонтали относительно основы */
	transition-duration: 300ms; /* анимация */
	position: absolute;
	z-index: 1;
  }
  .switch-on {
	background: #118c4e;
  }
  .switch-on::after {
	left: 37px;
  }

.product {
	border: 1px solid black;
	width: 350px;
	height: 350px;
	text-align: center;
	font-size: 20px;
	display:  inline-block;
	vertical-align: top;
	padding: 10px;
}

.product label img {
	display: block;
	margin: 5px;
}

.product button {
	font-size: 20px;
}

.paginate {
	font-size: 25px;
	text-align: center;
	margin: 20px;
}

.paginate span {
	display: block;
}

#modal_product_detail {
	display: none;
	position:fixed;
	width: 50%;
	height: 70%;
	top:25%;
	left:25%;
	z-index: 1;
	background-color:rgb(138, 157, 235);
	font-size: 30px;
	text-align: center;
	justify-content: center;
	/* padding:0 auto; */
	/* margin: 0 auto; */
}

#modal_product_detail img label {
	margin: 0 auto;
}

.modal_close {
	position: absolute;
    right: -35px;
    top: -35px;
	/* float: right; */
	font-size: 40px;
}

.modal_close:hover {
	color: #4a0ee2;
	text-decoration: underline;
	cursor:pointer;
}

.table {
	border: 1px solid black;
}

.table tr td {
	border: 1px solid black;
	font-size: 25px;
	color: crimson;
}

.table_td {
	color: crimson;
}

.basket_summa {
	font-size: 30px;
	color: crimson;
}

#footer {
	background-color: #c9c9d5;                                                        
	/* border: 1px solid black; */
	color:blue;
	height: 10vh;
	font-size: 20px;
}

/*Ссылки */
/* a:link {
	color: #1d66ed; 
	border-bottom: 1px dashed; 
} */
/* a:visited {
	color: #f16b3a;
} */
a:hover {
	/* color: #073687;  */
	border-bottom: .07em solid;
	/* font-weight:600; */
}
.menuactive {
	color: #c72c72; 
	/* border-bottom: 1px solid; */
	font-weight:700;
}